:root {
  --background-color: #e2c9b4;
  --purple: #63458a;
  --pink: #d6b2e2;
  --blue: #9fadda;
  --green: #96a29b;
  --white: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}